.input__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.input__box > label {
    color: var(--neutral-50);
}

.input__box > input {
    height: 6px;
    border-radius: var(--border-radius-out);
    background-color: var(--neutral-800);
    appearance: none;
}

.input__box > input::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-500);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.input__box > input::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-500);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
