.chart__tooltip {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 140px;
    background-color: rgba(26, 26, 26, 0.9);
    border: 1px solid var(--secondary-500);
    border-radius: var(--border-radius-out);
    pointer-events: none;
    z-index: 997;
}

.chart__tooltip > .tooltip__title {
    color: var(--secondary-500);
    font-size: 0.9rem;
    white-space: nowrap;
}

.tooltip__value {
    font-size: var(--text-size-medium);
    font-weight: 600;
    color: var(--neutral-50);
}

.tooltip__cashiers {
    color: var(--neutral-300);
    font-size: 0.75rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--neutral-700);
}
