/* dashboard.css */

.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dashboard-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 300px;
    overflow-y: auto;
    padding: 1rem;
    border-right: 1px solid black;
    background-color: black;
    box-sizing: border-box;
}

.dashboard-main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}

.dashboard-charts {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.fix {
    position: fixed;
}
